include HTML/Pug/mixin.pug
html
  head
    include HTML/Pug/linker.pug
  body
    include HTML/Pug/header.pug
    div(class="choose-page")
      div(class="main_container")
        div(class="chece-page") 
           
    +small_card   
    include HTML/Pug/footer.pug
    include HTML/Pug/link_javascript.pug
    