ul.navber_filter
    li#colors.button.lst_nav_filter
      i Color
      //span#colorsign.fa.fa-angle-down(style='position:absolute;right:2px;font-size: 25px;')
      .allcolor.down_filter
        div(style='padding: 10px;border-bottom:2px solid #ccc;position: relative;;')
          i 0 selected
          span(style='border: 1px solid #ccc;  right:2px; width: 50px;text-align: center;position: absolute;') All
        div(style='padding: 16px;')
          label.container11
            input(type='checkbox', checked='checked')
            span.checkmark(style='background-color: blue;')
          label.container11
           input(type='checkbox')
           span.checkmark(style='background-color: white;')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:green')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:gray')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:red')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:brown')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:yellow')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:pink')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:purple')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:orange')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:lightblue')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:lightgreen')
          label.container11
            input(type='checkbox')
            span.checkmark(style='background-color:black')
          label.container11
            input(type='checkbox')
            span.checkmark
        div(style='border-top:1px solid #ccc;padding: 5px; ')
          button.btn_filter( ) Applay
    
    //**************************************88
    li#typs.button.lst_nav_filter
      i Type
      //span#colorsign.fa.fa-angle-down(style='position:absolute;right: 2px;font-size:25px;')
      #alltypes.alltype.down_filter
        div(style='padding: 10px;border-bottom:2px solid #ccc;position: relative;;')
          input#amountoftype(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;width: 10px;', value='1')
          i selected
          span(style='border: 1px solid #ccc;  right:2px; width: 50px;text-align: center;position: absolute;') All
        ul.filtermenu(style='padding: 0;')
          li
            input(type='checkbox')
            | T_shirt
          li
            input(type='checkbox')
            | Sweater
          li
            input(type='checkbox')
            | Shorts
          li
            input(type='checkbox')
            | Choes
          li
            input(type='checkbox')
            |  Trousers
          li
            input(type='checkbox')
            | Jeanz
        div(style='border-top:1px solid #ccc;padding: 5px; ')
          button.btn_filter( ) Applay



    li#sorts.button.lst_nav_filter
      i Sort By
      //span#colorsign.fa.fa-angle-down(style='position:absolute;right: 2px;font-size:25px;')
      #allsorts.alltype.down_filter
        div(style='padding: 10px;border-bottom:2px solid #ccc;position: relative;;')
          i 0 selected
          span(style='border: 1px solid #ccc;  right:2px; width: 50px;text-align: center;position: absolute;') All
        ul.filtermenu(style='padding: 0;')
          li
            input(type='checkbox')
            | Default
          li
            input(type='checkbox')
            | Popularity
          li
            input(type='checkbox')
            | Average rating
          li
            input(type='checkbox')
            | Newness
        span price:
        ul.filtermenu(style='padding: 0;')
          li
            input(type='checkbox')
            |  Low to High
          li
            input(type='checkbox')
            |  High to Low
        div(style='border-top:1px solid #ccc;padding: 5px; ')
          button.btn_filter( ) Applay



    #prices.button.lst_nav_filter
      i Price Ring 
      //span#colorsign.fa.fa-angle-down(style='position:absolute;right: 2px;font-size:25px;')
      #allprices.alltype.down_filter
        div(style='padding: 10px;border-bottom:2px solid #ccc;position: relative;;')
          label(for='amount') Price range selected:
          span(style='border: 1px solid #ccc;  right:2px; width: 50px;text-align: center;position: absolute;') All
          input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold; max-width: 100%; margin-top: 7px;')

        div(style='margin-top:10px')
          i 30$
          span(style='float:right') 300$
        #slider-range(style='margin-bottom:10px;overflow:initial; max-width: 96%;')
        div(style='border-top:1px solid #ccc;padding: 5px; ')
          button.btn_filter( ) Applay
    #sizes.button.lst_nav_filter
      i Size 
      //span#colorsign.fa.fa-angle-down(style='position:absolute;right: 2px;font-size:25px;')
      #allsizes.alltype.down_filter
        div(style='padding: 10px;border-bottom:2px solid #ccc;position: relative;')
          i
            | 0 selected
            span(style='border: 1px solid #ccc;  right:2px; width: 50px;text-align: center;position: absolute;') All
        i
          ul.filtermenu(style='padding: 0;list-style-type:none;overflow:hidden')
            li(style='text-align:center;     width:46%;margin:2%;float:left')
              input(type='checkbox')
              | M
            li(style='text-align:center;width:46%;margin:2%;float:left')
              input(type='checkbox')
              | XL
            li(style='text-align:center;width:46%;margin:2%;float:left ')
              input(type='checkbox')
              | XXL
            li(style='text-align:center;float:left;width:46%;margin:2%')
              input(type='checkbox')
              | S
          div(style='border-top:1px solid #ccc;padding: 5px; ')
            button.btn_filter( ) Applay


