//=========================
//= Font & Text Variables =
//=========================

//text shadow:
$text_shadow:2px 1px 1px #171616;

//font size:
$main_font_size:16px;
$second_font_size:14px;

//font weight:
$main_font_weight:550;
$second_font_weight:300;

//font family:

$font_family: 'SourceSansPro',arial;
//$font_family:  Arial, Helvetica, sans-serif;
//$font_family: 'Oswald', sans-serif;        
//$font_family: 'Roboto', sans-serif;         

//====================
//= colors Variables =
//====================

//Header colors:
$header_background_color:#09071f;
$navbar_text_color:white;
$navbar_text_color_hover: #D80006;

//Footer colors:
$color_back_footer:#505050;
$color_footer: white;
$color_footer_hover: #D80006;

//Buttons colors:
$color_back_btn:#09071f;
$color_btn: white;
$color_btn_hover: #D80006;

//=======================
//= Direction Variables =
//=======================

//Floot:
$floot_left: left;
$floot_right: right;

//Text align:
$text_align_left: left;
$text_align_right: right;
$text_align_center: center;

//========================
//= Other Variables =
//========================

$website_name:tini;

//========================
//= Risponsive Variables =
//========================

$meduim: "(min-width: 1200px)";
$mobile: "(min-width: 992px)";
$wide-mobile: "(min-width: 768px)";
$cmq: "(max-width: 767px)";
$number_of_image: 2;

