//- footer
footer
  div(class="footer_bar")
    div(class="main_container")
      //-part_1:
      div(class="part_1")
        div(class="footer_logo"): img(src="img/4e.png", alt="")
        ul(class="Social_media")
          li(class="Social_media_title") Follow us on Social media
          li: a(href="#" class="icon"): i(class="fa fa-facebook")
          li: a(href="#" class="icon"): i(class="fa fa-twitter")
          li: a(href="#" class="icon"): i(class="fa fa-instagram")
          li: a(href="#" class="icon"): i(class="fa fa-linkedin")
    
      //-part_2:
      div(class="part_2")
        ul(class="footer_lists")
          li(class="footer_lists_titles"): h2 Contact us
          li(class="footer_lists_elements fa fa-map-marker"): span   Yemen, Ibb, Taiz street
          li(class="footer_lists_elements fa fa-phone"): span 772457246 \ 714899800
          li(class="footer_lists_elements fa fa-envelope"): span  dhiaamostafe@gmail.com  
          
    
      //-Section_3:
      div(class="part_2")
        ul(class="footer_lists")
          li(class="footer_lists_titles"): h2 Service
          li(class="services") about us
          li(class="services") Contact us
          li(class="services") Help
      .clearflex
      
  //-Copyright:
  - var n='tini'
  div(class="Copyright") 
    p © Copyright - 2020: All rights reserved for #{n}.
      br 
      | Designed by  
      a(href="#") Ibb_team.

