
script(src="js/jquery.min.js")
script(src="js/mixitup.min.js")
script(src="js/jquery.js")
script(src="js/jquery-ui.js")
script(src="js/jquery-ui.min.js")
script(src="js/owl.carousel.js")
script(src="js/owl.carousel.min.js")



script(src="js/outset.js")
script(src="js/inset.js")



